*.class

# Package Files #
*.jar
*.war
*.ear

# Lists Folder #
*.txt
!lists/ExampleBlacklist.txt
!lists/ExampleWhitelist.txt
!lists/ExampleCachefolder.txt
!lists/ExampleHistoryfolder.txt
!lists/ExampleExtensions.txt

# Links #
*.lnk
